# Игнорирование всех файлов в папке build и dist
build/
dist/
index.html

# Игнорирование всех файлов в node_modules
node_modules/

# Игнорирование всех файлов в логах
*.log

# Игнорирование локальной конфигурации среды
.env
.env.local
.env.*.local

# Игнорирование выходных файлов сборки (если сборка создаёт эти файлы)
coverage/
output/
target/

# Игнорирование файлов, которые могут генерироваться IDE
.vscode/
.idea/

# Игнорирование файлов и папок, содержащих конфиденциальные данные
*.secret

# Игнорирование специфических файлов
package-lock.json
yarn.lock

# Игнорирование тестовых данных и временных файлов
*.tmp
*.temp
__tests__/data/
